.total-score {
  font-size: 2em;
}

.current-score {
  font-size: 2em;
}

input {
  width: 300px;
}

body {
background-image: url(https://bloximages.chicago2.vip.townnews.com/atlanticcityweekly.com/content/tncms/assets/v3/editorial/6/d2/6d205506-7342-50de-8faf-c3ec2f73d78a/5ba12ed730531.image.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
  font-family: 'Inconsolata', monospace;
}

.header {
  display: none;
  background-image: url(https://cdn.shopify.com/s/files/1/0933/1330/products/Pig_Dice_1024x1024.JPG?v=1438377592);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
  height: 10em;
  text-align: center;
  font-size: 3em;
  color: white;
}

.jumbotron {
  background-image: url(https://st2.depositphotos.com/8846918/11650/i/950/depositphotos_116504844-stock-photo-3d-rendering-six-dice-on.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.8;
}


.player-names {
  background-color: white;
  opacity: 0.8;
  box-shadow: 0 0 20px cyan;
  text-align: center;
  padding-bottom: 3em;
}

#play {
  border-radius: 20px;
  font-size: 2em;
  color: black;
}

.play {
  text-align: center;
  margin-right: 10em;
}

.player1-results {
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  padding: 15px 50px;
  margin-left: 2em;
  box-shadow: 0 0 20px cyan;
  background-color: white;
  opacity: 0.8;
  /* background-image: url(); */
}

.player2-results {
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
  padding: 15px 50px;
  box-shadow: 0 0 20px cyan;
  background-color: white;
  opacity: 0.8;

}
.scores{
  background-color: cyan;
  box-shadow: 0 0 20px grey;
  border-radius: 2em;
}

.guidelines {
  background-color: white;
  opacity: 0.8;
  box-shadow: 0 0 20px cyan;
  text-align: center;
  padding: 5em;
  font-size: 1.5em;
}

.guidelines>ul {
  text-align: left;
}

.buttons>button {
  padding: 1.5rem;
  border-radius: 2em;
  font-size: 2em;
}
/* .opacity{
  background-color: grey;
  opacity: 0.5;

} */
